

// material colors
@primaryColor : #80C683;
@primaryLightColor : #B1F9B3;
@primaryDarkColor : #509556;
@primaryTextColor : #000000;

@secondaryColor : #29B6F6;
@secondaryLightColor : #73E8FF;
@secondaryDarkColor : #0086C3;
@secondaryTextColor : #FFFFFF;

@primaryVariant1 : #E8F5E9;
@primaryVariant2 : #C8E6C9;
@primaryVariant3 : #A4D5A7;
@primaryVariant4 : #65BA69;
@primaryVariant5 : #4AAE4F;
@primaryVariant6 : #429F46;
@primaryVariant7 : #378D3B;
@primaryVariant8 : #2D7C31;
@primaryVariant9 : #1A5D1F;

@secondaryVariant1 : #E1F5FE;
@secondaryVariant2 : #B3E5FC;
@secondaryVariant3 : #81D3FA;
@secondaryVariant4 : #4FC2F7;
@secondaryVariant5 : #05A8F4;
@secondaryVariant6 : #069AE5;
@secondaryVariant7 : #0587D1;
@secondaryVariant8 : #0576BD;
@secondaryVariant9 : #04569B;

@buttonColor : #4285F4;
@palette-high :  @secondaryVariant6;
@palette-low :  @secondaryTextColor ;
@palette-light : @secondaryTextColor;
